In [1]:
import pandas as pd
import numpy as np
from google.colab import drive
import datetime as dt

In [2]:
drive.mount('/content/gdrive/', force_remount=True)

Mounted at /content/gdrive/

In [3]:
data = pd.read_csv('/content/gdrive/My Drive/project/US_Accidents_Dec21_updated.csv')

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2845342 entries, 0 to 2845341
Data columns (total 47 columns):
 #   Column                 Dtype
---  ------                 -----
 0   ID                     object
 1   Severity               int64
 2   Start_Time             object
 3   End_Time               object
 4   Start_Lat              float64
 5   Start_Lng              float64
 6   End_Lat                float64
 7   End_Lng                float64
 8   Distance(mi)           float64
 9   Description            object
 10  Number                 float64
 11  Street                 object
 12  Side                   object
 13  City                   object
 14  County                 object
 15  State                  object
 16  Zipcode                object
 17  Country                object
 18  Timezone               object
 19  Airport_Code           object
 20  Weather_Timestamp      object
 21  Temperature(F)         float64
 22  Wind_Chill(F)          float64
 23  Humidity(%)            float64
 24  Pressure(in)           float64
 25  Visibility(mi)         float64
 26  Wind_Direction         object
 27  Wind_Speed(mph)        float64
 28  Precipitation(in)      float64
 29  Weather_Condition      object
 30  Amenity                bool
 31  Bump                   bool
 32  Crossing               bool
 33  Give_Way               bool
 34  Junction               bool
 35  No_Exit                bool
 36  Railway                bool
 37  Roundabout             bool
 38  Station                bool
 39  Stop                   bool
 40  Traffic_Calming        bool
 41  Traffic_Signal         bool
 42  Turning_Loop           bool
 43  Sunrise_Sunset         object
 44  Civil_Twilight         object
 45  Nautical_Twilight      object
 46  Astronomical_Twilight  object
dtypes: bool(13), float64(13), int64(1), object(20)
memory usage: 773.4+ MB

In [9]:
data.isna().sum()

ID                             0
Severity                       0
Start_Time                     0
End_Time                       0
Start_Lat                      0
Start_Lng                      0
End_Lat                        0
End_Lng                        0
Distance(mi)                   0
Description                    0
Number                   1743911
Street                         2
Side                           0
City                         137
County                         0
State                          0
Zipcode                     1319
Country                        0
Timezone                    3659
Airport_Code                9549
Weather_Timestamp          50736
Temperature(F)             69274
Wind_Chill(F)             469643
Humidity(%)                73092
Pressure(in)               59200
Visibility(mi)             70546
Wind_Direction             73775
Wind_Speed(mph)           157944
Precipitation(in)         549458
Weather_Condition          70636
Amenity                        0
Bump                           0
Crossing                       0
Give_Way                       0
Junction                       0
No_Exit                        0
Railway                        0
Roundabout                     0
Station                        0
Stop                           0
Traffic_Calming                0
Traffic_Signal                 0
Turning_Loop                   0
Sunrise_Sunset              2867
Civil_Twilight              2867
Nautical_Twilight           2867
Astronomical_Twilight       2867
dtype: int64

In [10]:
data.dropna(inplace=True)

In [11]:
data['Start_Time'] = pd.to_datetime(data['Start_Time'])

In [12]:
data['End_Time'] = pd.to_datetime(data['End_Time'])

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 943318 entries, 42 to 2845307
Data columns (total 47 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   ID                     943318 non-null  object
 1   Severity               943318 non-null  int64
 2   Start_Time             943318 non-null  datetime64[ns]
 3   End_Time               943318 non-null  datetime64[ns]
 4   Start_Lat              943318 non-null  float64
 5   Start_Lng              943318 non-null  float64
 6   End_Lat                943318 non-null  float64
 7   End_Lng                943318 non-null  float64
 8   Distance(mi)           943318 non-null  float64
 9   Description            943318 non-null  object
 10  Number                 943318 non-null  float64
 11  Street                 943318 non-null  object
 12  Side                   943318 non-null  object
 13  City                   943318 non-null  object
 14  County                 943318 non-null  object
 15  State                  943318 non-null  object
 16  Zipcode                943318 non-null  object
 17  Country                943318 non-null  object
 18  Timezone               943318 non-null  object
 19  Airport_Code           943318 non-null  object
 20  Weather_Timestamp      943318 non-null  object
 21  Temperature(F)         943318 non-null  float64
 22  Wind_Chill(F)          943318 non-null  float64
 23  Humidity(%)            943318 non-null  float64
 24  Pressure(in)           943318 non-null  float64
 25  Visibility(mi)         943318 non-null  float64
 26  Wind_Direction         943318 non-null  object
 27  Wind_Speed(mph)        943318 non-null  float64
 28  Precipitation(in)      943318 non-null  float64
 29  Weather_Condition      943318 non-null  object
 30  Amenity                943318 non-null  bool
 31  Bump                   943318 non-null  bool
 32  Crossing               943318 non-null  bool
 33  Give_Way               943318 non-null  bool
 34  Junction               943318 non-null  bool
 35  No_Exit                943318 non-null  bool
 36  Railway                943318 non-null  bool
 37  Roundabout             943318 non-null  bool
 38  Station                943318 non-null  bool
 39  Stop                   943318 non-null  bool
 40  Traffic_Calming        943318 non-null  bool
 41  Traffic_Signal         943318 non-null  bool
 42  Turning_Loop           943318 non-null  bool
 43  Sunrise_Sunset         943318 non-null  object
 44  Civil_Twilight         943318 non-null  object
 45  Nautical_Twilight      943318 non-null  object
 46  Astronomical_Twilight  943318 non-null  object
dtypes: bool(13), datetime64[ns](2), float64(13), int64(1), object(18)
memory usage: 263.6+ MB

In [14]:
data

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
42,A-43,4,2016-02-09 18:20:58,2016-02-10 00:20:58,40.451120,-85.150480,40.354290,-85.149930,6.690,Closed between IN-26 and IN-67 - Road closed d...,...,False,False,False,False,False,False,Night,Day,Day,Day
43,A-44,4,2016-02-09 18:20:58,2016-02-10 00:20:58,40.354290,-85.149930,40.451120,-85.150480,6.690,Closed between IN-67 and IN-26 - Road closed d...,...,False,False,False,False,False,False,Night,Day,Day,Day
47,A-48,4,2016-02-10 06:18:49,2016-02-10 12:18:49,40.728130,-84.789650,40.745590,-84.789620,1.206,Closed between Willshire and US-33/Rockford Rd...,...,False,False,False,False,False,False,Night,Night,Night,Day
50,A-51,2,2016-02-10 08:35:27,2016-02-10 14:35:27,41.831930,-80.101430,41.841490,-80.110990,0.824,Between Irish Rd and Blystone Rd - Accident.,...,False,False,False,False,False,False,Day,Day,Day,Day
66,A-67,2,2016-02-10 12:54:39,2016-02-10 18:54:39,41.483390,-81.662970,41.476920,-81.660750,0.462,At I-490/Exit 161 - Accident.,...,False,False,False,False,False,False,Day,Day,Day,Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2845298,A-2845299,3,2019-08-23 16:19:21,2019-08-23 16:48:04,37.609816,-122.493720,37.608821,-122.495261,0.109,At Fassler Ave/Rockaway Beach Ave - Accident. ...,...,False,False,False,False,False,False,Day,Day,Day,Day
2845302,A-2845303,4,2019-08-23 17:25:12,2019-08-23 17:54:00,38.995930,-121.672020,39.003170,-121.662679,0.708,Closed between Yuba City and CA-99/Sawtelle Av...,...,False,False,False,False,False,False,Day,Day,Day,Day
2845303,A-2845304,4,2019-08-23 17:25:12,2019-08-23 17:54:00,39.003170,-121.662679,38.995930,-121.672020,0.708,Closed between CA-99/Sawtelle Ave and Yuba Cit...,...,False,False,False,False,False,False,Day,Day,Day,Day
2845304,A-2845305,3,2019-08-23 01:16:01,2019-08-23 01:44:53,34.121320,-117.254540,34.121320,-117.254540,0.000,At San Bernardino - Accident.,...,False,False,False,False,False,False,Night,Night,Night,Night
2845307,A-2845308,3,2019-08-23 10:32:30,2019-08-23 11:01:40,34.485189,-120.229276,34.482530,-120.230510,0.197,At Gaviota Roadside Rest Area - Accident. Lane...,...,False,False,False,False,False,False,Day,Day,Day,Day

In [15]:
data.reset_index(level= None,inplace = False)

,index,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,42,A-43,4,2016-02-09 18:20:58,2016-02-10 00:20:58,40.451120,-85.150480,40.354290,-85.149930,6.690,...,False,False,False,False,False,False,Night,Day,Day,Day
1,43,A-44,4,2016-02-09 18:20:58,2016-02-10 00:20:58,40.354290,-85.149930,40.451120,-85.150480,6.690,...,False,False,False,False,False,False,Night,Day,Day,Day
2,47,A-48,4,2016-02-10 06:18:49,2016-02-10 12:18:49,40.728130,-84.789650,40.745590,-84.789620,1.206,...,False,False,False,False,False,False,Night,Night,Night,Day
3,50,A-51,2,2016-02-10 08:35:27,2016-02-10 14:35:27,41.831930,-80.101430,41.841490,-80.110990,0.824,...,False,False,False,False,False,False,Day,Day,Day,Day
4,66,A-67,2,2016-02-10 12:54:39,2016-02-10 18:54:39,41.483390,-81.662970,41.476920,-81.660750,0.462,...,False,False,False,False,False,False,Day,Day,Day,Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
943313,2845298,A-2845299,3,2019-08-23 16:19:21,2019-08-23 16:48:04,37.609816,-122.493720,37.608821,-122.495261,0.109,...,False,False,False,False,False,False,Day,Day,Day,Day
943314,2845302,A-2845303,4,2019-08-23 17:25:12,2019-08-23 17:54:00,38.995930,-121.672020,39.003170,-121.662679,0.708,...,False,False,False,False,False,False,Day,Day,Day,Day
943315,2845303,A-2845304,4,2019-08-23 17:25:12,2019-08-23 17:54:00,39.003170,-121.662679,38.995930,-121.672020,0.708,...,False,False,False,False,False,False,Day,Day,Day,Day
943316,2845304,A-2845305,3,2019-08-23 01:16:01,2019-08-23 01:44:53,34.121320,-117.254540,34.121320,-117.254540,0.000,...,False,False,False,False,False,False,Night,Night,Night,Night
943317,2845307,A-2845308,3,2019-08-23 10:32:30,2019-08-23 11:01:40,34.485189,-120.229276,34.482530,-120.230510,0.197,...,False,False,False,False,False,False,Day,Day,Day,Day

In [16]:
data.columns

Index(['ID', 'Severity', 'Start_Time', 'End_Time', 'Start_Lat', 'Start_Lng',
       'End_Lat', 'End_Lng', 'Distance(mi)', 'Description', 'Number', 'Street',
       'Side', 'City', 'County', 'State', 'Zipcode', 'Country', 'Timezone',
       'Airport_Code', 'Weather_Timestamp', 'Temperature(F)', 'Wind_Chill(F)',
       'Humidity(%)', 'Pressure(in)', 'Visibility(mi)', 'Wind_Direction',
       'Wind_Speed(mph)', 'Precipitation(in)', 'Weather_Condition', 'Amenity',
       'Bump', 'Crossing', 'Give_Way', 'Junction', 'No_Exit', 'Railway',
       'Roundabout', 'Station', 'Stop', 'Traffic_Calming', 'Traffic_Signal',
       'Turning_Loop', 'Sunrise_Sunset', 'Civil_Twilight', 'Nautical_Twilight',
       'Astronomical_Twilight'],
      dtype='object')

In [18]:
data.reset_index()

,index,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,42,A-43,4,2016-02-09 18:20:58,2016-02-10 00:20:58,40.451120,-85.150480,40.354290,-85.149930,6.690,...,False,False,False,False,False,False,Night,Day,Day,Day
1,43,A-44,4,2016-02-09 18:20:58,2016-02-10 00:20:58,40.354290,-85.149930,40.451120,-85.150480,6.690,...,False,False,False,False,False,False,Night,Day,Day,Day
2,47,A-48,4,2016-02-10 06:18:49,2016-02-10 12:18:49,40.728130,-84.789650,40.745590,-84.789620,1.206,...,False,False,False,False,False,False,Night,Night,Night,Day
3,50,A-51,2,2016-02-10 08:35:27,2016-02-10 14:35:27,41.831930,-80.101430,41.841490,-80.110990,0.824,...,False,False,False,False,False,False,Day,Day,Day,Day
4,66,A-67,2,2016-02-10 12:54:39,2016-02-10 18:54:39,41.483390,-81.662970,41.476920,-81.660750,0.462,...,False,False,False,False,False,False,Day,Day,Day,Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
943313,2845298,A-2845299,3,2019-08-23 16:19:21,2019-08-23 16:48:04,37.609816,-122.493720,37.608821,-122.495261,0.109,...,False,False,False,False,False,False,Day,Day,Day,Day
943314,2845302,A-2845303,4,2019-08-23 17:25:12,2019-08-23 17:54:00,38.995930,-121.672020,39.003170,-121.662679,0.708,...,False,False,False,False,False,False,Day,Day,Day,Day
943315,2845303,A-2845304,4,2019-08-23 17:25:12,2019-08-23 17:54:00,39.003170,-121.662679,38.995930,-121.672020,0.708,...,False,False,False,False,False,False,Day,Day,Day,Day
943316,2845304,A-2845305,3,2019-08-23 01:16:01,2019-08-23 01:44:53,34.121320,-117.254540,34.121320,-117.254540,0.000,...,False,False,False,False,False,False,Night,Night,Night,Night
943317,2845307,A-2845308,3,2019-08-23 10:32:30,2019-08-23 11:01:40,34.485189,-120.229276,34.482530,-120.230510,0.197,...,False,False,False,False,False,False,Day,Day,Day,Day

In [19]:
data=data.reset_index()

In [20]:
data.columns

Index(['index', 'ID', 'Severity', 'Start_Time', 'End_Time', 'Start_Lat',
       'Start_Lng', 'End_Lat', 'End_Lng', 'Distance(mi)', 'Description',
       'Number', 'Street', 'Side', 'City', 'County', 'State', 'Zipcode',
       'Country', 'Timezone', 'Airport_Code', 'Weather_Timestamp',
       'Temperature(F)', 'Wind_Chill(F)', 'Humidity(%)', 'Pressure(in)',
       'Visibility(mi)', 'Wind_Direction', 'Wind_Speed(mph)',
       'Precipitation(in)', 'Weather_Condition', 'Amenity', 'Bump', 'Crossing',
       'Give_Way', 'Junction', 'No_Exit', 'Railway', 'Roundabout', 'Station',
       'Stop', 'Traffic_Calming', 'Traffic_Signal', 'Turning_Loop',
       'Sunrise_Sunset', 'Civil_Twilight', 'Nautical_Twilight',
       'Astronomical_Twilight'],
      dtype='object')

In [21]:
data.drop(['index'],axis=1,inplace=True)

In [22]:
data.head()

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-43,4,2016-02-09 18:20:58,2016-02-10 00:20:58,40.45112,-85.15048,40.35429,-85.14993,6.690,Closed between IN-26 and IN-67 - Road closed d...,...,False,False,False,False,False,False,Night,Day,Day,Day
1,A-44,4,2016-02-09 18:20:58,2016-02-10 00:20:58,40.35429,-85.14993,40.45112,-85.15048,6.690,Closed between IN-67 and IN-26 - Road closed d...,...,False,False,False,False,False,False,Night,Day,Day,Day
2,A-48,4,2016-02-10 06:18:49,2016-02-10 12:18:49,40.72813,-84.78965,40.74559,-84.78962,1.206,Closed between Willshire and US-33/Rockford Rd...,...,False,False,False,False,False,False,Night,Night,Night,Day
3,A-51,2,2016-02-10 08:35:27,2016-02-10 14:35:27,41.83193,-80.10143,41.84149,-80.11099,0.824,Between Irish Rd and Blystone Rd - Accident.,...,False,False,False,False,False,False,Day,Day,Day,Day
4,A-67,2,2016-02-10 12:54:39,2016-02-10 18:54:39,41.48339,-81.66297,41.47692,-81.66075,0.462,At I-490/Exit 161 - Accident.,...,False,False,False,False,False,False,Day,Day,Day,Day

In [23]:
df_severity = sorted(list(data.Severity.unique()))
Severity = pd.DataFrame(df_severity, columns=['Severity'])
Severity['Id'] = [x for x in range(len(df_severity))]
Severity

   Severity  Id
0         1   0
1         2   1
2         3   2
3         4   3

In [24]:
# Converting Object Ride Type to Int
def transform_severity(severity):
    if severity == 1:
        return 0
    elif severity == 2:
        return 1
    elif severity == 3:
        return 2
    elif severity == 4:
        return 3
    else:
        return -1
data['Severity'] = data['Severity'].apply(transform_severity)

In [25]:
data['Severity']

0         3
1         3
2         3
3         1
4         1
         ..
943313    2
943314    3
943315    3
943316    2
943317    2
Name: Severity, Length: 943318, dtype: int64

In [26]:
Severity.head()

   Severity  Id
0         1   0
1         2   1
2         3   2
3         4   3

In [28]:
# State Table
df_state = list(data.State.unique())
state = pd.DataFrame(df_state, columns=['state_name'])
state['state_id'] = [x for x in range(len(df_state))]
state

   state_name  state_id
0          IN         0
1          OH         1
2          PA         2
3          WV         3
4          CA         4
5          LA         5
6          IA         6
7          ND         7
8          MN         8
9          CO         9
10         MO        10
11         TX        11
12         NE        12
13         WY        13
14         OK        14
15         AR        15
16         IL        16
17         MA        17
18         MD        18
19         GA        19
20         MI        20
21         NC        21
22         VA        22
23         NJ        23
24         NY        24
25         TN        25
26         CT        26
27         FL        27
28         NH        28
29         KY        29
30         DC        30
31         ME        31
32         WI        32
33         DE        33
34         UT        34
35         AZ        35
36         ID        36
37         MT        37
38         NM        38
39         WA        39
40         OR        40
41         NV        41
42         RI        42
43         VT        43
44         MS        44
45         KS        45
46         AL        46
47         SC        47
48         SD        48

In [29]:
def transform_state(st):
  if st in state['state_name'].unique():
    matched = list(state[state['state_name'] == st]['state_id'])
    return matched[0]
data['State'] = data['State'].apply(transform_state)

In [31]:
data['State']

0         0
1         0
2         1
3         2
4         1
         ..
943313    4
943314    4
943315    4
943316    4
943317    4
Name: State, Length: 943318, dtype: int64

In [32]:
# Airport Table
df_airports = list(data.Airport_Code.unique())
airports = pd.DataFrame(df_airports, columns=['airport_code'])
airports['airport_id'] = [x for x in range(len(df_airports))]
airports

     airport_code  airport_id
0            KMIE           0
1            KFWA           1
2            KGKJ           2
3            KBKL           3
4            KCRW           4
...           ...         ...
1673         KMVN        1673
1674         KICR        1674
1675         KY23        1675
1676         KRNH        1676
1677         KHYS        1677

[1678 rows x 2 columns]

In [33]:
def transform_airports(ap_code):
  if ap_code in airports['airport_code'].unique():
    matched = list(airports[airports['airport_code'] == ap_code]['airport_id'])
    return matched[0]
data['Airport_Code'] = data['Airport_Code'].apply(transform_airports)
data['Airport_Code']

0           0
1           0
2           1
3           2
4           3
         ...
943313    256
943314    406
943315    406
943316    478
943317    612
Name: Airport_Code, Length: 943318, dtype: int64

In [34]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 943318 entries, 0 to 943317
Data columns (total 47 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   ID                     943318 non-null  object
 1   Severity               943318 non-null  int64
 2   Start_Time             943318 non-null  datetime64[ns]
 3   End_Time               943318 non-null  datetime64[ns]
 4   Start_Lat              943318 non-null  float64
 5   Start_Lng              943318 non-null  float64
 6   End_Lat                943318 non-null  float64
 7   End_Lng                943318 non-null  float64
 8   Distance(mi)           943318 non-null  float64
 9   Description            943318 non-null  object
 10  Number                 943318 non-null  float64
 11  Street                 943318 non-null  object
 12  Side                   943318 non-null  object
 13  City                   943318 non-null  object
 14  County                 943318 non-null  object
 15  State                  943318 non-null  int64
 16  Zipcode                943318 non-null  object
 17  Country                943318 non-null  object
 18  Timezone               943318 non-null  object
 19  Airport_Code           943318 non-null  int64
 20  Weather_Timestamp      943318 non-null  object
 21  Temperature(F)         943318 non-null  float64
 22  Wind_Chill(F)          943318 non-null  float64
 23  Humidity(%)            943318 non-null  float64
 24  Pressure(in)           943318 non-null  float64
 25  Visibility(mi)         943318 non-null  float64
 26  Wind_Direction         943318 non-null  object
 27  Wind_Speed(mph)        943318 non-null  float64
 28  Precipitation(in)      943318 non-null  float64
 29  Weather_Condition      943318 non-null  object
 30  Amenity                943318 non-null  bool
 31  Bump                   943318 non-null  bool
 32  Crossing               943318 non-null  bool
 33  Give_Way               943318 non-null  bool
 34  Junction               943318 non-null  bool
 35  No_Exit                943318 non-null  bool
 36  Railway                943318 non-null  bool
 37  Roundabout             943318 non-null  bool
 38  Station                943318 non-null  bool
 39  Stop                   943318 non-null  bool
 40  Traffic_Calming        943318 non-null  bool
 41  Traffic_Signal         943318 non-null  bool
 42  Turning_Loop           943318 non-null  bool
 43  Sunrise_Sunset         943318 non-null  object
 44  Civil_Twilight         943318 non-null  object
 45  Nautical_Twilight      943318 non-null  object
 46  Astronomical_Twilight  943318 non-null  object
dtypes: bool(13), datetime64[ns](2), float64(13), int64(3), object(16)
memory usage: 256.4+ MB

In [ ]:
#Severity Table
Severity.to_csv('/content/gdrive/My Drive/project/Severity.csv',index=False)

In [ ]:
# Airport Table
airports.to_csv('/content/gdrive/My Drive/project/Airports.csv',index=False)

In [ ]:
# State Table
state.to_csv('/content/gdrive/My Drive/project/State.csv',index=False)

In [ ]:
# Processed Table
data.to_csv('/content/gdrive/My Drive/project/us_accidents.csv',index=False)